@charset "UTF-8";

/*
id: wakatta.view.css@ions.iskitz.net
by: mike.lee@iskitz
at: 2018.10.13+09...2017.11.11-07
im: going to try absolute positioning to ensure full page swipe detection.
*/


html, body
  { border   : 0px solid #f00 /*debug*/
  ; height   : 100%
  ; width    : 100%
  ; margin   : 0
  ; padding  : 0
  ; overflow : hidden
  ; overscroll-behavior: none
  }

body
  { animation-name: unset
  ; border        : 0px solid #0f0 /*debug*/
  ; color         : #777
  ; font-family   : "Hiragino Mincho ProN"
  ; font-size     : 5em
  ; height        : 20%
  ; padding       : 47% 0
  ; text-align    : center
  }
body.fade
  { animation     : 2.5s infinite alternate fade
  }
body.yes
  { animation-name: none
  ; color         : #4c4
  }
body.no
  { animation-name: none
  ; color         : #c44
  }

@keyframes fade
  { from
      { color     : #fff
      ; opacity   : 0%
      }
  /*50%
      { color     : #ccc
      ; opacity   : 50%
      }*/
    to
      { color     : #777
      ; opacity   : 100%
      }
  }