@charset "UTF-8";

html, body
  { height   : 100%
  ; width    : 100%
  ; margin   : 0
  ; padding  : 0
  ; overflow : hidden
  }

body
  { animation-name: unset
  ; color         : #777
  ; font-family   : "Hiragino Mincho ProN"
  ; font-size     : 61px
  ; margin-top    : 25%
  ; text-align    : center
  }
body.fade
  { animation     : 2.5s infinite alternate fade
  }
body.yes
  { animation-name: none
  ; color         : #4c4
  }
body.no
  { animation-name: none
  ; color         : #c44
  }

@keyframes fade
  { from
      { color     : #fff
      ; opacity   : 0%
      }
  /*50%
      { color     : #ccc
      ; opacity   : 50%
      }*/
    to
      { color     : #777
      ; opacity   : 100%
      }
  }