@charset "UTF-8";

/*
id:   wakatta.view.css@ions.iskitz.net
by:   🙇🏾‍♂️ יהוה 🤲🏾 & michael🇬🇾👨🏾‍💻🇺🇸lee@iskitz
on: { 201711117.2 : -7 }
to: { 578311012.1 : -8 }
go:   https://github.com/ionified/wakatta-ions.iskitz.net/
is:   setting html & body height to 100% to ensure full page swipe detection
we:   seek vertically & horizontally -centered text display
*/


html, body
  { box-sizing    : border-box
  ; margin        : 0
  ; border        : 0px solid #f00 /*seek*/
  ; padding       : 0
  ; height        : 100%
  ; overscroll-behavior: none
  }

body
  { animation-name: unset
  ; color         : #777
  ; font-family   : "hiragino mincho pron", ui-rounded, cursive
  ; font-size     : 5em
  ; border        : 0px solid #0f0 /*seek*/
  ; padding-top   : 46%
  ; text-align    : center
  }
body.fade
  { animation     : 2.5s infinite alternate fade
  }
body.yes
  { animation-name: none
  ; color         : #4c4
  }
body.no
  { animation-name: none
  ; color         : #c44
  }

@keyframes fade
  { from
      { color     : #fff
      ; opacity   : 0%
      }
  /*50%
      { color     : #ccc
      ; opacity   : 50%
      }*/
    to
      { color     : #777
      ; opacity   : 100%
      }
  }
